.menu_nav {
  background-color: #F1EDE1;
  overflow: auto;
  height : 93px;
}

.menu_nav a {
  float: left;
  color: black;
  text-align: center;
  padding: 35px 35px;
  text-decoration: none;
  font-size: 17px;
}

.menu_nav a:hover {
  background-color: #DED6C0;
  color: black;
}

.menu_nav a.active {
  background-color: #8D8673;
  color: white;
}
