footer {
  background-color: #DED6C0;
  padding: 20px;
  text-align: right;
}

footer a button {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  background-color: #8D8673;;
  color: #fff;
  border: none;
}

footer a button:hover {
  background-color: #544242;
}
