.liste {
  text-align: center;
  height: 100vh;
}

.liste li {
  margin: 10px;
  cursor : pointer;
}

.liste ul {
  padding: 0;
  list-style-type: none;
}

.infos-film {
  text-align: center;
}

.infos-film img {
  max-width: 100%;
  max-height: 300px;
}
