.liste {
  text-align: center;
}

.liste li {
  margin: 10px;
}

.liste ul {
  list-style-type: none;
  padding: 0;
}

.infos-film {
  text-align: center;
  margin-top: 20px;
}

.infos-film img {
  max-width: 100%;
  max-height: 300px;
}
