<div class="data">
  <div id="center-content">
    <div class="centered-content" *ngIf="getLastFormData !== null; else noData">

      <h1>Formulaire</h1>
      <p><b>Prénom: </b>{{ getLastFormData.prenom }}</p>
      <p><b>Nom: </b>{{ getLastFormData.nom }}</p>
      <p><b>Âge: </b>{{ getLastFormData.age }}</p>
      <p *ngIf="getLastFormData.email !== ''"><b>Email: </b>{{ getLastFormData.email }}</p>

      <p><b>Commentaire: </b>{{ getLastFormData.commentaire }}</p>
    </div>
    <ng-template #noData>
      <p>404 Not Found</p>
    </ng-template>
  </div>
</div>
