/* Styles pour le conteneur principal */
.data {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Styles pour le contenu centré */
#center-content {
  text-align: center;
}

/* Styles pour les informations du formulaire */
.centered-content {
  background-color: #fff;
  padding: 20px;
  width: 400px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.centered-content h1 {
  font-size: 28px; /* Augmenter la taille de la police */
  color: #333;
}

.centered-content p {
  font-size: 20px; /* Augmenter la taille de la police */
  margin: 12px 0; /* Ajuster les marges */
  color: #555;
}

/* Styles pour le message "404 Not Found" */
#noData p {
  font-size: 28px; /* Augmenter la taille de la police */
  color: #ff0000; /* Rouge */
  font-weight: bold;
}
