.data {
  background-color: #F1EDE1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#center-content {
  text-align: center;
}

.centered-content {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 20px;
  width: 400px;
}

.centered-content h1 {
  font-size: 28px;
  color: #333;
}

.centered-content p {
  font-size: 20px;
  margin: 12px 0;
  color: #555;
}

#noData p {
  font-size: 35px;
  color: #ff0000;
  font-weight: bold;
}
